@import '~/assets/scss/global';

.search {
  position: relative;

  .curve {
    position: relative;
    background-color: map-get($colors, mariner);
    height: 200px;
    width: 100%;
    clip-path: polygon(
      0% 0%, /** kiri atas */
      100% 0%, /** kanan atas */
      100% 20%, 
      100% 90%, 
      95% 91%, 
      90% 92%, 
      85% 93%, 
      80% 94%, 
      75% 95%, 
      70% 96%, 
      65% 97%, 
      60% 98%, 
      55% 99%, 
      50% 99.5%,
      50% 99.5%,
      45% 99%,
      40% 98%, 
      35% 97%, 
      30% 96%, 
      25% 95%, 
      20% 94%, 
      15% 93%, 
      10% 92%, 
      5% 91%, 
      0% 90%, 
      0% 20%
    );
  }

  .form {
    position: absolute;
    top: 0;
    width: 100%;

    .form-container {
      position: relative;
      border-radius: 5px;
      box-shadow: 0 2px 6px 0 map-get($colors, box-shadow);

      .border-bottom-dashed {
        border-bottom: .5px dashed map-get($colors, manatee);
      }

      .border-bottom-solid {
        border-bottom: .5px solid map-get($colors, heather);
      }

      .swap-content {
        position: absolute;
        top: 43px;
        right: 5px;
        border: 1px solid map-get($colors, heather);
        border-radius: 50px;
        padding: 5px;
      }

      .btn {
        background-color: #fedd00;
        color: #0064d2;
        border-radius: 20px;
        padding: 10px;
        width: 100%;
        font-weight: 700;
      }
    }
  }
}